<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tools.bitmap">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".pictest.PictestMainActivity" />

        <activity
            android:name="com.tools.bitmap.pictest.TestPicActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.tools.bitmap.pictest.CutPicActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.tools.bitmap.pictest.ImageGridActivity"
            android:label="@string/app_name" />

        <activity android:name=".circle.CircleActivity" />

        <activity android:name=".rounded.activity.ExampleActivity" />

        <activity android:name=".photoview.activity.AUILSampleActivity" />
        <activity android:name=".photoview.activity.LauncherActivity" />
        <activity android:name=".photoview.activity.RotationSampleActivity" />
        <activity android:name=".photoview.activity.SimpleSampleActivity" />
        <activity android:name=".photoview.activity.ViewPagerActivity" />

        <activity android:name=".colorart.activity.ColorArtActivity" />
        <activity android:name=".colorart.activity.DetailsActivity" />

        <activity android:name=".ken.activity.KenMainActivity" />
        <activity android:name=".ken.activity.FromURLActivity" />
        <activity android:name=".ken.activity.MultiImageActivity" />
        <activity android:name=".ken.activity.SingleImageActivity" />
    </application>

</manifest>
