<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tools.bitmap">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".pictest.PictestMainActivity" />

        <activity
            android:name="com.tools.bitmap.pictest.TestPicActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.tools.bitmap.pictest.CutPicActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.tools.bitmap.pictest.ImageGridActivity"
            android:label="@string/app_name" />

        <activity android:name=".circle.CircleActivity" />

        <activity android:name=".rounded.activity.ExampleActivity" />

        <activity android:name=".photoview.activity.AUILSampleActivity" />
        <activity android:name=".photoview.activity.LauncherActivity" />
        <activity android:name=".photoview.activity.RotationSampleActivity" />
        <activity android:name=".photoview.activity.SimpleSampleActivity" />
        <activity android:name=".photoview.activity.ViewPagerActivity" />

        <activity android:name=".colorart.activity.ColorArtActivity" />
        <activity android:name=".colorart.activity.DetailsActivity" />

        <activity android:name=".ken.activity.KenMainActivity" />
        <activity android:name=".ken.activity.FromURLActivity" />
        <activity android:name=".ken.activity.MultiImageActivity" />
        <activity android:name=".ken.activity.SingleImageActivity" />

        <activity android:name=".custom.SamplesActivity" />

        <activity android:name=".shape.SampleActivity" />

        <activity android:name=".cropper.CropperMainActivity" />

        <activity android:name=".crop.CropActivity" />
        <!--android:theme="@style/CustomTheme" />-->
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <activity android:name=".face.FaceMainActivity" />

        <activity android:name=".drawable.DrawbleActivity" />
        <activity android:name=".drawable.CircleImageDrawableActivity" />
        <activity android:name=".drawable.CustomStateDrawableActivity" />
        <activity android:name=".drawable.RoundImageDrawableActivity" />

        <activity android:name=".running.RuningManActivity" />

        <activity android:name=".photocat.PhotoCatMainActivity" />

        <activity android:name=".imagescan.ScanMainActivity" />
        <activity android:name=".imagescan.ShowImageActivity" />

        <activity android:name=".getphoto.GetPhotoMainActivity" />

        <activity android:name=".login.LoginActivity" />

        <activity android:name=".rview.RoudExampleActivity" />

        <activity android:name=".header.HeaderMainActivity" />

        <activity android:name=".circleheader.ClipActivity" />
        <activity android:name=".circleheader.CHeaderMainActivity" />

        <activity android:name=".EasyRoundActivity" />

        <activity android:name=".CuterActivity" />

        <activity android:name=".mycropper.MyCropperActivity" />

        <activity android:name=".google.MainGoogleActivity" />
        <activity android:name=".google.Hint" />
    </application>

</manifest>
