<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uwo.tools.aibum">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <!--<uses-feature-->
    <!--android:name="android.hardware.camera"-->
    <!--android:required="false" />-->

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 往SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".photo.PhotoActivity" />
        <activity android:name=".photo.PhotoAlbumActivity" />
        <activity android:name=".photo.ShowBigPic" />

        <activity android:name=".imagescan.ScanMainActivity" />
        <activity android:name=".imagescan.ShowGridImageActivity" />

        <activity android:name=".recylcler.HomeActivity" />
        <activity android:name=".recylcler.StaggeredGridLayoutActivity" />

        <activity android:name=".localphoto.AlbumActivity" />

        <activity android:name=".photos.PhotosMainActivity" />
        <activity android:name=".photos.ImageDetailsActivity" />

        <activity android:name=".volley.VolleyActivity" />

        <activity android:name=".cropper.MyCropperActivity" />

        <activity android:name=".getphoto.GetPhotoMainActivity" />

        <activity android:name=".uri.UriActivity" />

        <activity android:name=".local.ShowImageActivity" />

        <activity
            android:name=".local.LocalActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".local.CameraActivity"
            android:screenOrientation="landscape" />

        <activity android:name=".local.Camera1Activity" />

        <activity android:name=".local.dialog.DialogMainActivity" />

        <!--DateTime-->
        <activity android:name=".local.datetime.DateDialogActivity" />

        <activity android:name=".local.datetime.SlideActivity" />

        <activity android:name=".local.datetime.DateTimePickerActivity" />

        <activity android:name=".local.datetime.card.CalendarCardActivity" />
        <activity android:name=".local.datetime.card.Sample1" />
        <activity android:name=".local.datetime.card.Sample2" />

        <activity
            android:name=".local.datetime.square.SampleTimesSquareActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <activity android:name=".local.datetime.google.MainGoogleActivity" />
        <activity android:name=".local.datetime.google.Hint" />

        <activity android:name=".local.datetime.aige.AigeMainActivity" />

        <activity android:name=".local.datetime.circle.CircleMainActivity" />

        <activity android:name=".local.datetime.countdownview.CuntdownMainActivity" />

        <activity android:name=".cropper2.SimpleCropperActivity" />
        <activity android:name=".cropper2.ResultActivity" />

        <activity android:name=".local.player.InteractivePlayerActivity" />

        <activity android:name=".local.progressbar.VelocimeterActivity" />
        <activity
            android:name=".local.progressbar.squareprobar.SquprobarMainActivity"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".local.progressbar.avloading.AVLoadMainActivity"
            android:theme="@style/AVLoadTheme" />
        <activity android:name=".local.progressbar.waveview.WaveMainActivity" />
        <activity android:name=".local.progressbar.waveview.WaveMainActivity2" />

        <activity android:name=".local.progressbar.circleprogress.CircleProgressActivity" />

        <activity android:name=".local.progressbar.loadindicators.LoaderMainActivity" />

        <activity android:name=".local.progressbar.waveswipe.WaveSwipeMainActivity" />

        <activity android:name=".local.skin.SinkMainActivity" />

        <activity android:name=".local.progressbar.shape.DialogDemoActivity" />
        <activity android:name=".local.progressbar.shape.ShapeMainActivity" />
        <activity android:name=".local.progressbar.shape.ViewDemoActivity" />

        <activity android:name=".local.player.SaulmnMainActivity" />

        <activity android:name=".local.progressbar.loadtoast.LoadToastMainActivity" />

        <!--友盟-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5694b54be0f55a0df80019c6" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="main" />
    </application>

</manifest>
